* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conteiner-bru,
h4,
p {
    margin: 15px auto;
    width: 95%;
    max-width: 1200px;
    text-align: center;
    border-radius: 2rem;
}

body {
    background-image: url(../Multimedia/Cine-Teatrop\ .jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo_club {
    background-color: black;
    color: azure;
    text-align: center;

}

/*-----Nav--------*/
.bg-bruno {
    background-color: rgb(17, 17, 17);
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
    color: rgb(250, 245, 245);
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 1em;
    text-transform: uppercase;
    font-family: sans-serif;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: rgb(124, 124, 124);
    border-radius: 15px;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 3px white;
}

.logo-bru {
    width: 40px;
    height: 40px;
    justify-items: auto;
    transform: scale(1.1);
}

.logo-bru:hover {
    transform: translateX(15px);
    transition: all 400ms;
}

/*----Tamaño imagen carru--*/
.tman-img {
    height: 525px;
    width: 1080px;

}

/*---------Cards--------*/
.card-body {
    margin-top: 10px;
    background-color: rgb(244, 248, 248);

}

.card:hover {
    transform: translateX(-15px);
    transition: all 550ms;

}

.img_card {
    width: 260px;
    height: 180px;
    margin-top: 10px;
}

.btn-bruno {
    background-color: black;
    color: aliceblue;

}

.btn-bruno:hover {
    transform: translateY(-10px);
    transition: 600ms;
}


/*---- Section---- */
h4,
p {
    background-color: black;
    color: white;
    padding: 5px;
}

/* aside */
aside {
    background-color: black;
    color: white;
}

/* Footer */
footer {

    background-color: black;
    color: azure;
    width: auto;
    height: 130px;
    display: grid;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 6rem;


}

/*---- Items del footer----*/
ul {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.items {
    list-style-type: none;



}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;

}

.logo:hover {
    transform: translatey(-10px);
    transition: all 400ms;
}

/* Texto e imagen Historia del club*/
.box {
    width: 475px;
    height: 400px;
    border-radius: 5px;
    background-image: url("../Multimedia/frente\ de\ fabrica.jpg");
    padding: 1em;
    float: left;
    margin: 30px;
}

.special {
    background-color: rgb(10, 10, 10);
    padding: 10px;
    color: #fff;
}

/* Tabla */
table,
th,
td {
    margin: 15px;
    padding: 5px;
    background-color: whitesmoke;
    text-align: center;
}

/* Formulario de contacto */
.form-bru {
    background-color: whitesmoke;
    opacity: 0.8;
    color: black;
    text-align: justify;
    margin: 25px;
    padding: 15px;
    font-size: 1rem;
    font-family: sans-serif;

}

h3 {
    text-align: center;
}