* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.conteiner-bru {
    margin: 15px auto;
    width: 95%;
    max-width: 1200px;
    text-align: center;

}

/*
body {
    background-image: linear-gradient(rgb(16, 16, 16, 0.3), rgb(16, 16, 16, 0.3)), url(../Multimedia/Cine-Teatrop\ .jpg);

}*/
body {
    background-image: url(../Multimedia/Cine-Teatrop\ .jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;


}

.titulo_club {
    background-color: black;
    color: azure;
    text-align: center;

}



/*-----nav--------*/
.bg-bruno {
    background-color: rgb(17, 17, 17);
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
    color: rgb(250, 245, 245);
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 1em;
    text-transform: uppercase;
    font-family: sans-serif;

}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: rgb(124, 124, 124);
    border-radius: 15px;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 3px white;



}

.logo-bru {
    width: 40px;
    height: 40px;
    justify-items: auto;

}

/*
article p {
    background-color: aliceblue;
}*/

.estilo-bru {
    box-shadow: 0px 0px 10px 3px black;


}

/*tamaño imagen carru*/
.tman-img {
    height: 525px;
    width: 1080px;

}

/*---------cards--------*/
.card-body {
    margin-top: 10px;
    background-color: rgb(244, 248, 248);

}

.img_card {
    width: 260px;
    height: 180px;
    margin-top: 10px;
}

.btn-bruno {
    background-color: black;
    color: aliceblue;

}

/*
.navbar {
    background-color: aqua;

}
.bg-bruno {
    border-radius: 10px;
    background-color: aqua;
    width: 1000px;
    height: 100px;
}

.navbar {
    padding: 5px 11px;
    font-size: 1rem;
    text-transform: uppercase;
}

/*
.nav-item:hover {
    background-color: rgb(30, 31, 31);
    transform: scaleY(1.0);
    transition: 0.8s;
}
*/

/*
.navbar-expand-lg {
    background-color: rgb(187, 184, 184);
    border-radius: 10px;
    
    transform: scale(0.8);
    box-shadow: 0px 0px 10px 3px blue;*/



/*
.carousel-inner>.carousel-item>img {
    width: 300px;
    height: 300px;
}




/*---card---*/

/* article 
.art-bru {
    height: 560px;

}

/* Section */
h4,
p {
    background-color: aliceblue;
}

/*
p {

    background-color: white;
    text-align: center;
    font-size: 1.5em;

}*/

/* Aside Form
aside {
    background-color: rgb(158, 152, 152);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: auto;
    height: 100px;
    padding: 15px;
    border-style: solid;
    border-color: rgb(8, 8, 8);
    border-width: 5px;  


.texto {
    text-align: center;
}

#Enviar {
    justify-content: center;
    margin-top: 10px;
    background-color: rgb(12, 12, 12);
    border-style: 5px solid rgb(63, 65, 63);
    color: whitesmoke;
}

.form__sugerencias {
    background-color: rgb(158, 152, 152);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    height: max-content;
}*/



/* Footer */
footer {

    background-color: black;
    color: azure;
    width: auto;
    height: 130px;
    border-radius: 10px;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 6rem;
    transform: matrix3d(0.3);
    box-shadow: 0px 0px 10px 3px white;



}

ul {

    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.items {
    list-style-type: none;

}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

/* Texto Historia del club*/
.mhist-bru {
    background-color: whitesmoke;
    opacity: 0.6;
    color: black;
    text-align: justify;
    margin: 15px;
    padding: 15px;
    font-size: 1rem;
    font-family: fantasy;
}

/* Tabla */
table,
th,
td {
    margin: 15px;
    padding: 5px;
    background-color: whitesmoke;
    text-align: center;


}




/* Formulario de contacto */
.form-bru {
    background-color: whitesmoke;
    opacity: 0.8;
    color: black;
    text-align: justify;
    margin: 15px;
    padding: 15px;
    font-size: 1rem;
    font-family: fantasy;
}